.grid {
    color: white;
    display: grid;
    gap: 10px;
    grid-template-columns: max-content min-content;
    grid-auto-rows: 100px;
    margin-bottom: 30px;
}

.item:nth-child(odd) {
    background-color: #2ecc71;
}

.item:nth-child(even) {
    background-color: #3498db;
}


/** inline-block 문제점  */
/*
.box {
    background: blue;
    width: 300px;
    height: 300px;
    margin-bottom: 2px;
    display: inline-block;
    color: white;
}

.box:nth-child(3) {
    margin-left: 20px;
} */